*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}
.header{
    width: 100% ;
    height: 45px;
    background-color: rgb(248, 222, 227);
    position: fixed; 
    z-index: 10; 
    opacity: 0.8;
}

 .line-header{
    width: 70px;
    height: 4px;
    background-color:palevioletred;
    visibility: hidden;
}
li:hover p{
    visibility: visible;
} 
.img1{
    width: 100px;
    height: 45px;
    margin-left: 200px;
    float: left;
    border-radius: 10px;
}
.list1{
    list-style: none;
     float: left; 
     margin-left: 100px; 
     padding: 10px 80px;
}
.list1 a{
    margin-left: 25px;
    text-decoration: none;
    display: inline-block; 
    color:rgb(54, 53, 53);
    font-size: 22px;
   text-transform: capitalize; 
}
.home{
    background-image: url(../images/monstera-plants-pink-cupcakes-arrangement.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    position: relative; 
     background-size: cover; 
    background-position: center;
   
}
 .home-overlay{ 
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
}
.home-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
}
.home-title{
     color: #fff; 
     font-size: 80px;
     text-transform: uppercase;
     font-family: "Playwrite ES"; 
}
.home-p{
    margin:20px  0px;
    color: pink;
}
.btn{
    width: 150px;
    padding: 15px  0px;
    border-radius: 5px;
    cursor: pointer;
    border:0px;
    font-size: 17px;
    text-transform: capitalize;
    background-color: rgb(238, 195, 202);
}
.home-start{
    margin-right: 10px;
}
.btn:hover{
    opacity: 0.7;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.title1-w{
    font-size: 55px;
    text-transform:capitalize ;
    text-align: center;
    margin-top: 100px;
}
.line1{
    width: 80px;
    height: 4px;
    background-color:palevioletred;
    margin:auto;
    margin-top: 10px;
}
.container{
    width: 85%;
    margin: auto;
}
.i1{
    font-size: 40px;
    margin-top: 30px;
}
.welcome-1{
    width: 330px;
    height: 350px;
    background-color: rgb(230, 180, 189);
    text-align:center ;
    margin-top: 40px;
    position: relative;
    border: 3px solid black; border-radius: 5px;
}
.welcome-1::after{
    position: absolute;
    content: "";
    width: 0; height: 0;
    top: 0; left: 0;
    background-color: gray;
    opacity: 0;
}
.welcome-1:hover::after{
    width: 100%; height: 100%;
    transition: 1s;
    opacity: 0.5;
}
.pwelcome-1{
    font-size: 20px;
}
.welcome-2{
    width: 330px; position: relative;
    height: 350px;
    background-color: rgb(230, 180, 189);
    text-align:center ;
    margin-left:410px;
    margin-top: -355px; border: 3px solid black; border-radius: 5px;
}
.pwelcome-2{
    font-size: 20px;
}
.welcome-2::after{
    position: absolute;
    content: "";
    width: 0; height: 0;
    top: 0; left: 0;
    background-color: gray;
    opacity: 0;
}
.welcome-2:hover::after{
    width: 100%; height: 100%;
    transition: 1s;
    opacity: 0.5;
}
.welcome-3{
    width: 330px; position: relative;
    height: 350px;
    background-color: rgb(230, 180, 189);
    text-align:center ;
    margin-left:810px;
    margin-top: -355px; border: 3px solid black; border-radius: 5px;
}
.pwelcome-3{
    font-size: 20px;
}  
.welcome-3::after{
    position: absolute;
    content: "";
    width: 0; height: 0;
    top: 0; left: 0;
    background-color: gray;
    opacity: 0;
}
.welcome-3:hover::after{
    width: 100%; height: 100%;
    transition: 1s;
    opacity: 0.5;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 
 .title2{
    font-size: 55px;
    text-transform:capitalize ;
    text-align: center;
    margin-top: 100px;
}
.line2{
    width: 80px;
    height: 4px;
    background-color:palevioletred;
    margin:auto;
    margin-top: 10px;
}
.container-1{
    width: 100%;
    height: 650px; 
    margin: auto; 
}
.div-big{
    width: 68%;
    height: 650px;
    margin: auto;}
/* /////////////////////////////////////////// */
.our-img1{
    width: 200px; 
    float: left;
    position: relative; 
    border: black 3px solid;
    border-radius: 10px;
}
.item-hover{
    position: absolute;
    text-align: center;
    background: rgb(0, 0, 0,0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}
.our-img1:hover .item-hover{
    visibility: visible;}
.our-img2{
    width: 200px; 
    border: black 3px solid;
    border-radius: 10px;
    margin-top: -70px;
    margin-left: 230px;
    position: relative;
}
.item-hover2{
    position: absolute;
    text-align: center;
    background: rgb(0, 0, 0,0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}
.our-img2:hover .item-hover2{
    visibility: visible;
}
.our-img3{
    width: 200px; 
    border: black 3px solid;
    border-radius: 10px;
    margin-top: -307px;
    margin-left: 460px;
    position: relative;
}
.item-hover3{
    position: absolute;
    text-align: center;
    background: rgb(0, 0, 0,0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}
.our-img3:hover .item-hover3{
    visibility: visible;
}
.our-img4{
    width: 200px; 
    border: black 3px solid;
    border-radius: 10px;
    margin-top: -307px;
    margin-left: 700px;
    position: relative;
}
.item-hover4{
    position: absolute;
    text-align: center;
    background: rgb(0, 0, 0,0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}
.our-img4:hover .item-hover4{
    visibility: visible;
}
.our-img5{
    width: 200px; 
    border: black 3px solid;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
}
.item-hover5{
    position: absolute;
    text-align: center;
    background: rgb(0, 0, 0,0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}
.our-img5:hover .item-hover5{
    visibility: visible;
}
.our-img6{
    width: 200px; 
    border: black 3px solid;
    border-radius: 10px;
    margin-top: -307px;
    margin-left: 230px;
    position: relative;
}
.item-hover6{
    position: absolute;
    text-align: center;
    background: rgb(0, 0, 0,0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}
.our-img6:hover .item-hover6{
    visibility: visible;
}
.our-img7{
    width: 200px; 
    border: black 3px solid;
    border-radius: 10px;
    margin-top: -307px;
    margin-left: 460px;
    position: relative;
}
.item-hover7{
    position: absolute;
    text-align: center;
    background: rgb(0, 0, 0,0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}
.our-img7:hover .item-hover7{
    visibility: visible;
}
.our-img8{
    width: 200px; 
    border: black 3px solid;
    border-radius: 10px;
    margin-top: -307px;
    margin-left: 700px;
    position: relative;
}
.item-hover8{
    position: absolute;
    text-align: center;
    /* margin-top: 100px; */
    background: rgb(0, 0, 0,0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}
.our-item .img{ margin-top: 100px;}
.item-hover .span{
    margin-top: 500px;
}
.our-img8:hover .item-hover8{visibility: visible;}
.page-img a{
     background-color: rgb(237, 237, 253);
     color: blueviolet ;
     font-size: 25px;
     margin-top: 200px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.title3{
    font-size: 55px;
    font-size: 55px;
    text-transform:capitalize ;
    text-align: center;
    margin-top: 100px;
}
.line-what{
    width: 80px;
    height: 4px;
    background-color:palevioletred;
    margin:auto;
    margin-top: 10px;
}
.container-2{
    width: 90%; 
    margin:auto;   
}
.offer{
    text-align: center;
    height: 100%; 
}
.variables-1{
    float: left;
    width: 320px;
    height: 200px;
    border: 3px solid black; border-radius: 8px;
    margin: 20px 0px;
    margin-left: 60px;
    position: relative;
}
.variables-1:hover .birthday-cake{
    color: blue;
}
.variables-1::after{
    position: absolute; 
    content: "";
    width: 0; height: 0;
    top:0;  left: 0;
    opacity: 0;
    background-color:gray;
}
.variables-1:hover::after{
    width: 100%; height: 100%;
    transition: 2s; opacity:0.5;
}
.variables-2{
    float: left;
    width: 320px;
    height: 200px;
    border: 3px solid black; border-radius: 8px;
    margin: 20px 0px;
    margin-left: 60px;
    position: relative;
} 
.variables-2:hover .birthday-cake{
    color: blue;
}
.variables-2::after{
    position: absolute; 
    content: "";
    width: 0; height: 0;
    top:0;  left: 0;
    opacity: 0;
    background-color: gray;
}
.variables-2:hover::after{
    width: 100%; height: 100%;
    transition: 2s; opacity: 0.5;
}
.variables-3{
    float: left;
    width: 320px;
    height: 200px;
    border: 3px solid black; border-radius: 8px;
    margin: 20px 0px;
    margin-left: 60px;
    position: relative;
} 
.variables-3:hover .birthday-cake{
    color: blue;
}
.variables-3::after{
    position: absolute; 
    content: "";
    width: 0; height: 0;
    top:0;  left: 0;
    opacity: 0;
    background-color: gray;
}
.variables-3:hover::after{
    width: 100%; height: 100%;
    transition: 2s; opacity: 0.5;
}
.variables-4{
    float: left;
    width: 320px;
    height: 200px;
    border: 3px solid black; border-radius: 8px;
    margin: 20px 0px;
    margin-left: 60px;
    position: relative;
}
.variables-4:hover .birthday-cake{
    color: blue;
}
.variables-4::after{
    position: absolute; 
    content: "";
    width: 0; height: 0;
    top:0;  left: 0;
    opacity: 0;
    background-color: gray;
}
.variables-4:hover::after{
    width: 100%; height: 100%;
    transition: 2s; opacity: 0.5;
} 
.variables-5{
    float: left;
    width: 320px;
    height: 200px;
    border: 3px solid black; border-radius: 8px;
    margin: 20px 0px;
    margin-left: 60px;
    position: relative;
} 
.variables-5:hover .birthday-cake{
    color: blue;
}
.variables-5::after{
    position: absolute; 
    content: "";
    width: 0; height: 0;
    top:0;  left: 0;
    opacity: 0;
    background-color: grey;
}
.variables-5:hover::after{
    width: 100%; height: 100%;
    transition: 2s; opacity: 0.5;
}
.variables-6{
    float: left;
    width: 320px;
    height: 200px;
    border: 3px solid black; border-radius: 8px;
    margin: 20px 0px;
    margin-left: 60px;
    position: relative;
} .variables-6:hover .birthday-cake{
    color: blue;
}
.variables-6::after{
    position: absolute; 
    content: "";
    width: 0; height: 0;
    top:0;  left: 0;
    opacity: 0;
    background-color: gray;
}
.variables-6:hover::after{
    width: 100%; height: 100%;
    transition: 2s; opacity: 0.5;
}
.offer i{
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white ;
    color: palevioletred;
    font-size: 40px;
}
 .birthday-cake{
   margin-left: 20px; text-transform: capitalize;
   margin-top: 15px;  
}/* ////////////////////////////////////////////////////////////// /////////////////////////////////////////////////// */
.container-3{
    width: 100%;
}
.why-c{
    border: 5px palevioletred dashed;  border-radius: 30px;
    position: relative;
    height: 100vh; margin-top: 100px;
}
 .title-why{
    font-size: 55px;
    text-transform:capitalize ;
    margin-top: 105px;
    margin-left: 90px;
} 
.line3{
    width: 80px;
    height: 5px;
    background-color: rgb(22, 151, 76);
    margin-top: 10px;
    margin-left: 90px;
}
.why-p{
    text-transform: capitalize;
    font-size: 22px;
    position: absolute;
    margin-top: 20px;
    margin-left: 90px;
    display: inline;
}
.img3{
    width: 500px;
    height: 400px; border-radius: 15px;
    margin-left: 800px;
    position: absolute;
}
.icons{  
    float: left;
    display: inline;
    font-size: 20px;
    color: rgb(126, 126, 126);
    margin-left: 10px; 
    line-height: 60px; 
    margin-top: 30px;    
}
.dot{
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin:  0px 5px;
    
}
.dot-1{
    margin-left: 1000px;
    height: 15px;
    width: 15px;
    background-color: rgb(131, 131, 131);
    border-radius: 50%;
    display: inline-block;
    margin-top: 420px;
}
.dot:hover{
    background-color: rgb(131, 131, 131);
}  /* ////////////////////////////////////////////////////////////////////////////////// */
.container-4{
    width: 100%; 
    margin: auto;
}
 .back{ 
    margin-top: 100px;
    height: 400px;
    width: 100%;
    background-image: url(../images/top-view-delicious-strawberry-cake-sugar-powdered-cake-with-cookies-cinnamon-cup-tea-pink-background-cake-sweet-sugar-cookies-pie.jpg );
    background-attachment: fixed;
    background-size: cover;
    position: relative;   
}
.back-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bac{
    margin: auto;
    width: 1000px;
    height: 400px;
} 
.div{
    float: left;
    width: 230px;
    height: 270px; 
    margin: auto;
    margin: 10px 10px;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
} /* /////////////////////////////////////////////////////////////////////////////// */
.container-5{
    width: 85%;
    margin: auto;
}
.circle{
    height: 80px;
    width: 80px;
    border-radius: 50%; 
    border: #bbb solid 5px; 
    font-size: 50px; 
    margin: auto;
}
.price-1{
   width: 330px;
   height: 350px; position: relative;
   border: 5px palevioletred solid;
   border-radius: 20px;
   text-align:center ;
    float: left;
}
.p-price-1{
   font-size: 30px;
   margin-top: 10px;
}
.hprice-1{margin-top: 25px;}
.but-price{
    width: 120px;
    height: 40px;
    border: 2px dashed blue;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: blue;
}
.price-1:hover .circle{
    color: red;
}
.price-1:hover .hprice-1{color: red;}
.price-1::after{
    position: absolute; 
    content: "";
    width: 100%; height: 0;
    top:0;  right: 0;
    opacity: 0;
    background-color:pink;
}
.price-1:hover::after{
    width: 100%; height: 100%;
    transition: 0.5s; opacity: 0.5;
} 
.price-2{
    width: 330px; position: relative;
    height: 350px;
    border: 5px palevioletred solid;
    border-radius: 20px;text-align:center ;
    margin-left: 400px;
    margin-top: 100px; 
}
.hprice-2{margin-top: 25px;}
.p-price-2{
    font-size: 30px;
    margin-top: 10px;
 } 
 .price-2:hover .hprice-2{color: red;}
 .price-2:hover .circle{color: red;}
.price-2::after{
    position: absolute; 
    content: "";
    width: 100%; height: 0;
    top:0;  right: 0;
    opacity: 0;
    background-color:pink;
}
.price-2:hover::after{
    width: 100%; height: 100%;
    transition: 0.5s; opacity: 0.5;
} 
 .price-3{
    width: 330px;   position: relative;
    height: 350px;
    border: 5px palevioletred solid;
    border-radius: 20px;text-align:center ;
    margin-left: 805px;
    margin-top: -360px;
}
.hprice-3{margin-top: 25px;}
.price-3:hover .hprice-3{color: red;}
.price-3:hover .circle{color: red;}
.price-3::after{
    position: absolute; 
    content: "";
    width: 100%; height: 0;
    top:0;  right: 0;
    opacity: 0;
    background-color:pink;
}
.price-3:hover::after{
    width: 100%; height: 100%;
    transition: 0.5s; opacity: 0.5;
} 
.p-price-3{
    font-size: 30px;
    margin-top: 10px;
}/*/////////////////////////////////////////////////////////////////////////////////////////////////////  */
.container-6{
    width: 100%; 
    margin: auto;
}
.back-1{ 
    margin-top: 100px;
    height: 400px;
    width: 100%;
    background-image: url(../images/delicious-cupcakes-arrangement.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative; 
}  
.back-overlay-1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.bac-1{
    margin: auto;
    width: 80%;
    height: 400px;   
    
} 
.div-1{
    float: left;
    width: 400px;
    height:200px;  position: relative;
    margin: auto;  
    margin: 10px 10px; color: #fff; 
    margin-top: 100px;
}
.div-1 .image-6{
    height: 100px;  width: 100px; position: absolute;
    border-radius: 100px; 
    background-image: url(../images/Petal\ Perfection\ Cupcakes\ on\ Instagram_\ _These….jpg);
    background-size: cover;
}
.h2image-6{
    margin:40px  100px;
}
.div-1 .image-6-im{ height: 100px;  width: 100px;
    border-radius: 100px; position: absolute;
    background-image: url(../images/Pink\ cake.jpg);  background-size: cover;
}
.re{margin-left: 200px;}
/* ///////////////////////////////////////////////////////////////////////////////////////  */
.title7{
    font-size: 65px; 
    margin-top: 100px;
    text-align: center;
}
.line7{
    width: 80px;
    height: 4px;
    background-color: blueviolet;
    margin:auto;
    margin-top: 10px;}
.container-7{
    width: 80%;
    margin: auto;
}
.team-content{
    margin-top: 30px; 
}
.team-item{
    float: left;
    width: 30%;  position: relative;
    padding: 12px  16px; border-radius: 10px;
    text-align: center;
    background-color: rgb(202, 202, 202);
    font-size: 20px;
}
.rr{
    margin: 0px 5px;
}
.team-image{
    width: 80%;
    margin: auto;
    position: relative;
}
.team-image img{
    width: 100%;
}
.team-overlay{
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7); 
}
.team-item:hover .team-overlay { 
    visibility: visible;
}
.team-overlay a{
    display: block; 
    width: 40px;
    height: 40px;
    background-color: blue; 
    color: white;
    font-size: 19px;
    margin-left: auto;
}
.team-overlay a i{
    line-height: 40px;
} 
.team-info .team-title{padding: 11px 0px;
text-transform: capitalize;}
.team-info .team-info-p{color:rgb(80, 79, 79);
text-transform: uppercase;}
.team-item:hover .team-info .team-title{
    color: #fff;
}
.team-item:hover .team-info-p{
    color: blue;
}
.team-item::after{
    position: absolute; 
    content: "";
    width: 100%; height: 0;
    top:0;  right: 0;
    opacity: 0;
    background-color:black;
}
.team-item:hover::after{
    width: 100%; height: 100%;
    transition: 0.5s; opacity: 0.2;
}/* //////////////////////////////////////////////////////////////////////////////// */
.title8{
    font-size: 65px; 
    margin-top: 500px; 
    text-align: center;
}
.line8{
    width: 80px;
    height: 4px;
    background-color: blueviolet;
    margin:auto;
    margin-top: 10px;}
.container-8{
    width: 80%;
    margin: auto;
}
.resent-content{
    margin-top: 30px;  
}
.resent-item{
    float: left;     position: relative;
    width: 30%;   
    padding: 10px  10px;
    background-color:pink;
    font-size: 20px; 
}
.ro{
    margin: 0px 20px;
}
.resent-image{
    width: 80%;
    margin-right: auto;
    position: relative;
}
.resent-image img{
    width: 100%;
    height: 50%;
    margin-right: auto;
}
.resent-image p{
    display: inline;
    margin-right: auto;
    color: black;
    font-size: 15px;
    margin-right: 15px;
}
.resent-image i{
    font-size: 10px;
    color: blueviolet;
} 
.resent-info p{color: rgb(95, 95, 95);}
.resent-info a{
    color: blue;
    text-decoration: none; 
    line-height: 50px;
}
.resent-item::after{
    position: absolute;
    content: "";
    width: 100%;  height: 0;
    top: 0;      left: 0; 
    background-color: gray;
    opacity: 0; 
}
.resent-item:hover::after{
    height: 100%;
    width: 100%;
    transition: 1s;
    opacity: 0.5;}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////  */
.container-9{
    width: 100%; 
    margin: auto;
}
.back-2{ 
    margin-top: 100px; 
    height: 300px; position: relative;
    width: 100%; background-color: rgb(255, 228, 233);
    margin-top: 608px; text-align: center;
}
.bac-2{
    width: 200px;  height: 100px;
    background-image: url(../images/Pink\ Beige\ Soft\ Abstract\ Korean\ Vibe\ Cake\ Bakery\ Logo\ -\ Templates\ by\ Canva.jpg);
    background-size: cover;
    background-position: center; border:2px solid black;
    position: absolute;
    margin-top: 90px ; margin-left: 570px;
}
.back-2 i{
    width: 50px;
    height: 50px;
    border-radius:30px ;
    background-color: blue; 
    color: white;
    font-size: 30px; text-align: center;
    margin-top: 210px; margin-bottom: 10px;
} 
.icons-9{margin-left: 0px;}
.back-2 .icons-9 i{
    line-height: 50px;
}